engine-strict=true

@se:registry=https://nexus.tools.struxurewarecloud.com/repository/npm-internal/
//nexus.tools.struxurewarecloud.com/repository/npm-internal/:_authToken=111b0cc2-47f6-3278-9e6c-1e974bc5b92d